[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/javascript-syntax"]
	path = vim/bundle/javascript-syntax
	url = https://github.com/jackinloadup/vim-javascript-syntax.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
