[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/javascript-syntax"]
	path = vim/bundle/javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
